.header {
    background: gray;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#content {
    padding: 24px;

    button {
        margin-bottom: 24px;
    }
}

